In [2]:
import pandas as pd

In [3]:
df_products = pd.read_csv("C:/Users/meryg/Downloads/Market_products.csv")
df_transactions = pd.read_csv("C:/Users/meryg/Downloads/market_transactions.csv")
df_customers = pd.read_csv("C:/Users/meryg/Downloads/Market_customers_aggregated.csv")

In [4]:
df_customers

,year_month,merchant_name,order_item_delivery_address_region,count_customers
0,2017-01,deliveroo,idf - paris,544
1,2017-01,deliveroo,idf - rest of idf,121
2,2017-01,deliveroo,other region,636
3,2017-01,just eat,idf - paris,167
4,2017-01,just eat,idf - rest of idf,358
...,...,...,...,...
373,2020-06,just eat,idf - rest of idf,684
374,2020-06,just eat,other region,769
375,2020-06,uber eats,idf - paris,2019
376,2020-06,uber eats,idf - rest of idf,3278
377,2020-06,uber eats,other region,7867

In [5]:
df_transactions

,row_nb,synthetic_gender,synthetic_age_generation,is_loyalty_deliveroo,merchant_name,order_date,order_time,order_total_paid,order_currency,payment_method_name,...,order_total_fees,order_total_promo,seller_name,seller_category_name,order_item_delivery_address_region,order_item_delivery_address_subregion,order_item_delivery_address_city,is_customer_month_ubereats,is_customer_month_justeat,is_customer_month_deliveroo
0,1,2.0,Gen. Y - [1980-1994],NaN,deliveroo,2020-01-15,12:00:00,10.3,eur,NaN,...,0.0,0.0,thai in box,asian - thai,ile de france,hauts de seine,sevres,0,0,1
1,2,1.0,Gen. Z - [1995-2010],NaN,uber eats,2019-01-24,19:00:00,7.6,eur,payment card - visa,...,2.5,5.0,nanbab - villeurbanne,asian - indian,auvergne rhone alpes,rhone,villeurbanne,1,0,1
2,3,1.0,Gen. Z - [1995-2010],NaN,uber eats,2020-02-05,12:00:00,10.6,eur,paypal,...,3.7,0.0,los tacos,latin american - mexican,grand est,meurthe et moselle,maxeville,1,0,0
3,4,1.0,Gen. Y - [1980-1994],NaN,just eat,2019-01-11,21:00:00,0.0,eur,NaN,...,NaN,0.0,NaN,NaN,ile de france,val d oise,cergy,0,1,0
4,5,NaN,Gen. Z - [1995-2010],NaN,deliveroo,2019-12-15,20:00:00,25.3,eur,NaN,...,2.5,4.0,o'tacos,latin american - mexican,ile de france,seine saint denis,aubervilliers,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807671,807672,2.0,Gen. Z - [1995-2010],NaN,just eat,2019-04-10,20:00:00,0.6,eur,NaN,...,NaN,0.0,NaN,NaN,provence alpes cote d azur,bouches du rhone,marseille,0,1,0
807672,807673,2.0,Gen. Z - [1995-2010],NaN,uber eats,2020-06-01,18:00:00,16.3,eur,paypal,...,1.8,0.0,planet sushi,asian - japanese - sushi,centre val de loire,loiret,orleans,1,0,0
807673,807674,1.0,NaN,NaN,uber eats,2018-12-02,19:00:00,15.9,eur,paypal,...,3.9,0.0,o'tacos,latin american - mexican,occitanie,haute garonne,toulouse,1,0,0
807674,807675,2.0,Gen. Z - [1995-2010],NaN,uber eats,2020-03-14,17:00:00,30.0,eur,payment card - visa,...,5.3,0.0,mcdonald's,north american - burger,hauts de france,nord,valenciennes,1,0,0
807675,807676,2.0,NaN,NaN,uber eats,2020-05-28,20:00:00,77.1,eur,payment card - visa,...,3.5,0.0,yamazaki,asian - japanese - sushi,ile de france,val d oise,pontoise,1,0,0

In [6]:
df_products

,f0_,id_order,product_name,product_description,merchant_name
0,2017-01-01,AVkmcB3KFSf772cTh6V2M9yGwuQ=,toast goody woody,NaN,deliveroo
1,2017-01-01,CQeMFF72l4u80Ae4mnVLhnTzqx0=,soupe miso,sauce soja,deliveroo
2,2017-01-01,CQeMFF72l4u80Ae4mnVLhnTzqx0=,salmon lovers,"sauce soja sucree, baguettes, sauce soja sucre...",deliveroo
3,2017-01-01,CQeMFF72l4u80Ae4mnVLhnTzqx0=,super mix,any three skewers with lamb & chicken doner se...,deliveroo
4,2017-01-01,CQeMFF72l4u80Ae4mnVLhnTzqx0=,salade de choux,NaN,deliveroo
...,...,...,...,...,...
1711611,2020-06-30,/7xBQ0v3sf7rNfCQfhezNVgKLgM=,menu le saint nicolas burger,NaN,uber eats
1711612,2020-06-30,/8gXFRj4oFFrwX6tiZMmKmPePqs=,menu tacos mixte,NaN,uber eats
1711613,2020-06-30,/8gXFRj4oFFrwX6tiZMmKmPePqs=,menu tacos mixte,NaN,uber eats
1711614,2020-06-30,//FH2PpgKmXmDNP1vRO4E3a3y0Y=,bouchees camembert x6,NaN,deliveroo
1711615,2020-06-30,//FH2PpgKmXmDNP1vRO4E3a3y0Y=,menu french,NaN,deliveroo

In [7]:
df_products.drop(['product_name', 'product_description'], axis=1, inplace=True) #on drop les colonnes dont on a pas besoin

In [8]:
df_customers[['order_item_delivery_address_region', 'order_item_delivery_address_subregion']] = df_customers['order_item_delivery_address_region'].str.split('-', expand=True) # on split sur le tiret les colonne pour sÃ©parer le dÃ©partement et la rÃ©gion

In [9]:
df_customers['order_item_delivery_address_subregion'].fillna('Other', inplace=True) #on remplace les nans par other pour crÃ©er une nouvelle catÃ©gorie sans perdre les valeurs

In [10]:
df_customers['order_item_delivery_address_subregion'].replace('None', 'other', inplace=True) #meme chose avec les None

In [11]:
df_transactions.drop(['is_loyalty_deliveroo', 'order_currency', 'payment_method_name'], axis=1, inplace=True) #on supprime les colonnes dont on a pas besoin

In [12]:
#Pour remplir les NaN de la colonne avec des valeurs logiques prÃ©sentes dans la colonnes 
df_transactions["synthetic_gender"] = df_transactions["synthetic_gender"].interpolate()

#On vÃ©rifie qu'il n y a plus de NaN dans la colonne 
df_transactions["synthetic_gender"].isna().sum()

#On remplace les valeurs 1 et 2 par M et F
df_transactions["synthetic_gender"] = df_transactions["synthetic_gender"].replace({1 : "M", 2: "F"})

In [13]:
df_transactions["synthetic_age_generation"] = df_transactions["synthetic_age_generation"].interpolate() #on utilise la fonction d'interpolation pour remplacer les nans dans la colonne

In [14]:
df_transactions["synthetic_age_generation"].unique()

array(['Gen. Y - [1980-1994]', 'Gen. Z - [1995-2010]', nan,
       'Gen. X - [1960-1979]', 'Boomer - [1940-1959]',
       'Pre boomer - [1920-1939]'], dtype=object)

In [15]:
import pandas as pd
from datetime import datetime

# CrÃ©ation d'un exemple de DataFrame
data = df_transactions['synthetic_age_generation']
df = pd.DataFrame(data)

# Extraire la portion [1980-1994] avec une expression rÃ©guliÃ¨re
df_transactions['age_range'] = df_transactions['synthetic_age_generation'].str.extract(r'\[([^\]]+)\]')

# Fill NaN values with the mode of the 'age_range' column
df_transactions['age_range'].fillna(df_transactions['age_range'].mode()[0], inplace=True)

# Fill NaN values with a default value (0 in this case)
df_transactions['age_range'].fillna('0-0', inplace=True)

# Convertir la chaÃ®ne de caractÃ¨res en deux annÃ©es
df_transactions[['start_year', 'end_year']] = df_transactions['age_range'].str.extract(r'(\d{4})-(\d{4})').astype(int)

# Calculer les Ã¢ges en utilisant la soustraction
current_year = datetime.now().year
df_transactions['average_age'] = (current_year - df_transactions['end_year']).astype(str) + '-' + (current_year - df_transactions['start_year']).astype(str)  

df_transactions.drop(['synthetic_age_generation', 'age_range', 'start_year', 'end_year'], axis=1, inplace=True)

#test pour mettre au propre les noms des restaurants mais echec

In [16]:
df_transactions['date'] = df_transactions['order_date'] + ' ' +  df_transactions['order_time'] #crÃ©ation d'une colonne regroupant la date et l'heure de la commande

In [17]:
df_transactions['order_date_time'] = pd.to_datetime(df_transactions['date'], format="%Y-%m-%d %H:%M:%S") # modification du format de la colonne pour mettre au propre

In [18]:
df_transactions.drop(['order_date', 'order_time', 'date', 'row_nb'], axis=1, inplace=True) #on drop les colonnes inutiles

In [19]:
#On a remarque que la colonne order_total_fees n'est pas la somme que delivery_fees et processinf_fees
# donc fait la somme des deux colonnes 
df_transactions["order_total_fees"] = df_transactions["order_delivery_fee"] +  df_transactions["order_processing_fee"] 

#On verifie le nombre de NaN dans notre colonne actualisÃ© on passe de +100000 NaN Ã  juste 199 
df_transactions["order_total_fees"].isna().sum()

#On prends 50 Valeur au hasard pour verifie que notre calcul Ã  bien fonctionner 
df_transactions.sample(50)

,synthetic_gender,merchant_name,order_total_paid,order_delivery_fee,order_processing_fee,order_total_fees,order_total_promo,seller_name,seller_category_name,order_item_delivery_address_region,order_item_delivery_address_subregion,order_item_delivery_address_city,is_customer_month_ubereats,is_customer_month_justeat,is_customer_month_deliveroo,average_age,order_date_time
139260,F,uber eats,35.6,2.5,0.0,2.5,0.0,sucre & salÃ©,european - french,ile de france,seine saint denis,le pre st gervais,1,0,1,30-44,2017-08-15 04:00:00
222776,M,uber eats,9.3,3.5,0.0,3.5,0.0,la mie caline,european - french,ile de france,paris,paris,1,0,0,14-29,2019-04-28 09:00:00
583157,M,uber eats,23.9,0.0,0.0,0.0,0.0,burger king,north american - burger,hauts de france,pas de calais,st laurent blangy,1,0,0,14-29,2020-05-15 20:00:00
130487,F,just eat,NaN,0.0,0.0,0.0,0.0,chez riz,asian - chinese,grand est,moselle,metz,1,1,0,30-44,2019-08-03 00:00:00
718332,M,uber eats,12.7,2.0,2.0,4.0,12.0,big fernand,north american - burger,ile de france,paris,paris,1,0,0,14-29,2020-06-14 15:00:00
767730,M,deliveroo,50.0,2.5,0.0,2.5,5.6,restaurant yuzu,asian - japanese - others,ile de france,hauts de seine,antony,0,0,1,30-44,2019-05-27 00:00:00
170740,M,just eat,NaN,0.0,0.0,0.0,0.0,mcdonald's,north american - burger,grand est,bas rhin,strasbourg,1,1,0,30-44,2019-12-10 21:00:00
189041,M,deliveroo,21.6,2.5,0.0,2.5,0.0,big fernand,north american - burger,grand est,bas rhin,strasbourg,0,0,1,14-29,2019-11-13 18:00:00
553677,M,uber eats,14.2,3.5,0.0,3.5,0.0,campus grill,north american - bbq,grand est,marne,reims,1,0,1,14-29,2019-12-20 20:00:00
694549,M,just eat,0.0,0.0,0.0,0.0,0.0,NaN,NaN,bourgogne franche comte,cote d or,dijon,1,1,0,30-44,2019-04-14 20:00:00
352133,M,uber eats,13.2,3.9,0.0,3.9,0.0,o'tacos,latin american - mexican,ile de france,hauts de seine,clichy,1,0,0,30-44,2019-07-11 22:00:00
773068,M,deliveroo,26.7,1.2,0.0,1.2,2.9,aname caulaincourt,asian - vietnamese,ile de france,paris,paris,0,0,1,30-44,2020-05-24 21:00:00
171131,M,uber eats,53.4,2.5,0.0,2.5,0.0,la broche,middle eastern - kebab,auvergne rhone alpes,rhone,lyon,1,0,0,14-29,2018-05-13 21:00:00
197757,M,deliveroo,17.5,3.2,0.0,3.2,0.0,poke and co,north american - hawaiian,ile de france,paris,paris,1,0,1,30-44,2020-01-02 21:00:00
323713,F,just eat,0.0,0.0,0.0,0.0,0.0,NaN,NaN,ile de france,seine saint denis,pantin,0,1,0,30-44,2018-01-10 21:00:00
751075,F,deliveroo,32.4,3.1,0.0,3.1,0.0,ffc,north american - chicken,ile de france,val de marne,st maurice,1,0,1,14-29,2019-06-05 17:00:00
386763,F,uber eats,16.3,2.5,0.0,2.5,0.0,sakura,asian - japanese - sushi,ile de france,hauts de seine,st cloud,1,0,0,30-44,2019-03-15 11:00:00
176821,M,deliveroo,23.0,3.2,0.0,3.2,0.0,hape,european - italian - pizza,auvergne rhone alpes,rhone,lyon,0,0,1,30-44,2020-03-15 19:00:00
391335,M,just eat,0.1,0.0,0.0,0.0,0.0,NaN,NaN,ile de france,seine et marne,melun,0,1,0,14-29,2017-08-30 19:00:00
725889,M,uber eats,68.1,4.0,6.4,10.4,5.9,rebenga,others,pays de la loire,loire atlantique,st nazaire,1,0,0,14-29,2020-05-26 20:00:00
398667,F,uber eats,22.1,3.5,0.0,3.5,0.0,mcdonald's,north american - burger,ile de france,val de marne,vincennes,1,0,0,14-29,2019-10-06 07:00:00
111072,M,just eat,0.8,0.0,0.0,0.0,0.0,NaN,NaN,ile de france,seine saint denis,aubervilliers,0,1,0,30-44,2018-11-21 20:00:00
504543,M,uber eats,26.3,3.5,0.0,3.5,0.0,ochame japan cafe,asian - japanese - others,bretagne,morbihan,vannes,1,0,0,45-64,2020-04-11 20:00:00
165853,M,uber eats,14.8,3.9,0.0,3.9,0.0,o'tacos,latin american - mexican,ile de france,paris,paris,1,0,0,30-44,2019-03-24 13:00:00
720728,F,deliveroo,35.9,2.5,0.0,2.5,0.0,why not,north american - others,ile de france,paris,paris,0,0,1,14-29,2018-03-11 13:00:00
369743,M,deliveroo,97.5,2.5,0.0,2.5,0.0,le baan haâˆšÃ¸,asian - thai,ile de france,hauts de seine,neuilly sur seine,1,0,1,30-44,2017-12-18 11:00:00
246897,M,uber eats,12.7,2.5,0.0,2.5,0.0,mangez moi,others,ile de france,val d oise,sannois,1,0,0,14-29,2019-01-02 22:00:00
802316,M,uber eats,13.0,2.5,0.0,2.5,0.0,pokawa,north american - hawaiian,pays de la loire,loire atlantique,nantes,1,0,0,45-64,2019-11-08 20:00:00
630645,M,uber eats,16.3,3.5,0.0,3.5,0.0,burger dream - saint-gratien,north american - burger,ile de france,seine saint denis,epinay sur seine,1,1,0,30-44,2019-05-30 01:00:00
103332,M,uber eats,24.9,3.5,0.0,3.5,0.0,mcdonald's,north american - burger,ile de france,paris,paris,1,0,1,30-44,2020-01-04 18:00:00
612154,F,just eat,0.5,0.0,0.0,0.0,0.0,NaN,NaN,ile de france,yvelines,elancourt,0,1,0,30-44,2018-03-09 19:00:00
340318,M,uber eats,11.1,3.5,0.0,3.5,0.0,so drive burger,north american - burger,hauts de france,nord,wambrechies,1,0,0,14-29,2019-09-30 13:00:00
182216,M,uber eats,38.7,3.5,0.0,3.5,0.0,mcdonald's,north american - burger,ile de france,paris,paris,1,0,1,30-44,2019-01-31 13:00:00
657408,M,deliveroo,20.6,0.0,0.0,0.0,0.0,super paulette,european - french,auvergne rhone alpes,rhone,lyon,0,0,1,30-44,2018-11-20 20:00:00
726782,F,just eat,0.7,0.0,0.0,0.0,0.0,NaN,NaN,ile de france,paris,paris,0,1,0,30-44,2018-04-02 21:00:00
4325,F,deliveroo,53.5,6.2,0.0,6.2,0.0,shogun sushi,asian - japanese - sushi,ile de france,hauts de seine,la garenne colombes,0,0,1,30-44,2020-05-04 23:00:00
672174,F,deliveroo,21.5,2.6,0.0,2.6,0.0,chopsticks & co,asian - others,hauts de france,nord,lille,0,0,1,30-44,2019-03-03 20:00:00
281297,M,just eat,NaN,0.0,0.0,0.0,0.0,maestro pizza,european - italian - pizza,ile de france,val de marne,creteil,0,1,0,30-44,2019-12-17 20:00:00
381040,M,deliveroo,27.7,2.5,0.0,2.5,0.0,toulouse burger,north american - burger,occitanie,haute garonne,toulouse,0,0,1,30-44,2017-09-16 22:00:00
193839,M,deliveroo,35.5,2.5,0.0,2.5,0.0,paris texas,north american - bbq,ile de france,paris,paris,0,0,1,30-44,2018-02-12 19:00:00
261503,M,deliveroo,16.5,2.8,0.0,2.8,0.0,big fernand,north american - burger,bretagne,ille et vilaine,rennes,0,0,1,14-29,2019-02-18 21:00:00
563143,M,uber eats,16.9,3.0,1.6,4.6,3.0,l'ecole du burger,north american - burger,bretagne,ille et vilaine,rennes,1,0,1,14-29,2020-01-23 21:00:00
698789,M,uber eats,29.2,3.5,0.0,3.5,0.0,star food,latin american - mexican,auvergne rhone alpes,puy de dome,clermont ferrand,1,0,0,14-29,2020-04-13 18:00:00
503531,M,uber eats,9.0,2.5,0.0,2.5,0.0,fete a crepe,european - french,ile de france,paris,paris,1,0,0,30-44,2018-05-29 22:00:00
514558,M,deliveroo,26.9,2.5,0.0,2.5,0.0,eat sushi,asian - japanese - sushi,bretagne,ille et vilaine,rennes,0,0,1,30-44,2018-11-26 20:00:00
698819,M,deliveroo,17.6,0.0,0.2,0.2,6.8,kfc,north american - chicken,ile de france,hauts de seine,clamart,1,0,1,30-44,2020-06-16 21:00:00
566784,F,deliveroo,25.0,2.5,0.0,2.5,0.0,modafood,north american - burger,auvergne rhone alpes,rhone,lyon,0,0,1,14-29,2018-11-15 00:00:00
80697,M,deliveroo,30.0,3.7,0.0,3.7,0.0,burger king,north american - burger,ile de france,paris,paris,0,0,1,14-29,2020-05-12 13:00:00
85398,M,deliveroo,12.1,2.5,0.0,2.5,0.0,suppli factory,european - italian - others,pays de la loire,loire atlantique,nantes,0,0,1,14-29,2018-06-25 19:00:00
411173,M,deliveroo,14.0,2.7,0.0,2.7,0.0,big forno,european - italian - others,occitanie,haute garonne,toulouse,0,0,1,30-44,2020-05-06 20:00:00

In [20]:
data = df_transactions['order_total_paid']
df = pd.DataFrame(data)

# Calculer la moyenne de la colonne
moyenne_colonne = df['order_total_paid'].mean().round(1)

# Remplacer les NaN par la moyenne
df_transactions['order_total_paid'].fillna(moyenne_colonne, inplace=True)

In [21]:
df_transactions.dropna(subset=['order_item_delivery_address_region'], inplace=True) #on supprime les nans de la colonnes

In [22]:
df_transactions['seller_name'].fillna('Autres', inplace=True) #on remplace les nans de la colonne pour ne pas perdre les valeurs

In [23]:
#df_transactions['seller_category_name'].fillna('Other', inplace=True)

In [24]:
#nan_rows = df_transactions.loc[df_transactions['seller_name']== 'Autres']

In [25]:
df_transactions.drop(['order_delivery_fee', 'order_processing_fee'], axis=1, inplace=True) #on supprime les colonnes inutiles

In [26]:
df_transactions[['Continent', 'type_cuisine']] = df_transactions['seller_category_name'].str.split(' - ', n=1, expand=True) #on split la colonne en 2 pour garder la granularitÃ© des informations et permettre au dataset d'Ãªtre plus clean

In [27]:
df_transactions['type_cuisine'].apply(lambda x: 1 if type(x)==str else 0).sum()

702574

In [28]:
df_transactions['type_cuisine'].unique()

array(['thai', 'indian', 'mexican', nan, 'italian - pizza', 'sandwich',
       'japanese - sushi', 'burger', 'kebab', 'hawaiian', 'chinese',
       'bbq', 'italian - others', None, 'others', 'french', 'lebanese',
       'japanese - others', 'vietnamese', 'chicken', 'italian - pasta',
       'salad', 'peruvian', 'bagel', 'korean', 'british', 'spanish'],
      dtype=object)

In [29]:
df_transactions['type_cuisine'] = df_transactions['type_cuisine'].str.split(' - ', n=1).str[0] #on split pour rendre la colonne plus propre

In [30]:
a = df_transactions[(df_transactions['merchant_name'] == 'just eat')]  #test

In [31]:
# Extraire les lignes oÃ¹ 'merchant_name' est Ã©gal Ã  'just eat'
df_just_eat = df_transactions[df_transactions['merchant_name'] == 'just eat']

# Supprimer les lignes oÃ¹ 'merchant_name' est Ã©gal Ã  'just eat' de df_transactions
df_transactions = df_transactions[~(df_transactions['merchant_name'] == 'just eat')]

In [32]:
df_transactions['Continent'].unique()

array(['asian', 'latin american', 'european', 'north american',
       'middle eastern', 'others', nan, 'african'], dtype=object)

In [33]:
df_transactions.dropna(subset=['Continent'], inplace=True) #on supprime les nans de la colonne

C:\Users\meryg\AppData\Local\Temp\ipykernel_9964\695383039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions.dropna(subset=['Continent'], inplace=True) #on supprime les nans de la colonne

In [34]:
df_transactions['type_cuisine'].fillna('others', inplace=True) #on remplace les nans pour garder les informations

C:\Users\meryg\AppData\Local\Temp\ipykernel_9964\1996769686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions['type_cuisine'].fillna('others', inplace=True) #on remplace les nans pour garder les informations

In [35]:
#On verifie le nombre de NaN dans notre colonne actualisÃ© on passe de +100000 NaN Ã  juste 199 
df_transactions["order_total_fees"].isna().sum()

# Calculer la moyenne de la colonne
moyenne_colonne = df_transactions['order_total_fees'].mean().round(1)
# Remplacer les NaN par la moyenne
df_transactions['order_total_fees'].fillna(moyenne_colonne, inplace=True)

C:\Users\meryg\AppData\Local\Temp\ipykernel_9964\1964929770.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions['order_total_fees'].fillna(moyenne_colonne, inplace=True)

In [36]:
# DÃ©placer la colonne 'D' Ã  la quatriÃ¨me position pour rendre le dataset plus propre
colonne_a_deplacer = 'order_item_delivery_address_subregion'
position_desiree = 3

nouvel_ordre_colonnes = [colonne for colonne in df_customers.columns if colonne != colonne_a_deplacer]
nouvel_ordre_colonnes.insert(position_desiree, colonne_a_deplacer)

df_customers  = df_customers [nouvel_ordre_colonnes]

In [37]:
df_transactions.drop(['seller_category_name'], axis=1, inplace=True) #on drop la colonne dont on a pas besoin

C:\Users\meryg\AppData\Local\Temp\ipykernel_9964\3270764132.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions.drop(['seller_category_name'], axis=1, inplace=True) #on drop la colonne dont on a pas besoin

In [38]:
df_transactions['type_cuisine'].value_counts()

type_cuisine
burger        209173
italian        82738
others         63342
japanese       61388
mexican        57708
chicken        33390
sandwich       29475
french         28374
thai           23863
indian         18688
hawaiian       17665
vietnamese     14783
kebab          14733
chinese         9745
lebanese        9403
salad           7968
bbq             7382
korean          3972
bagel            584
spanish          458
british          455
peruvian          84
Name: count, dtype: int64

In [39]:
df_transactions.isna().sum()

synthetic_gender                         0
merchant_name                            0
order_total_paid                         0
order_total_fees                         0
order_total_promo                        0
seller_name                              0
order_item_delivery_address_region       0
order_item_delivery_address_subregion    0
order_item_delivery_address_city         0
is_customer_month_ubereats               0
is_customer_month_justeat                0
is_customer_month_deliveroo              0
average_age                              0
order_date_time                          0
Continent                                0
type_cuisine                             0
dtype: int64

In [40]:
df_customers.isna().sum()

year_month                               0
merchant_name                            0
order_item_delivery_address_region       0
order_item_delivery_address_subregion    0
count_customers                          0
dtype: int64

In [41]:
df_products.isna().sum()

f0_              0
id_order         0
merchant_name    0
dtype: int64

In [42]:
df_just_eat

,synthetic_gender,merchant_name,order_total_paid,order_total_fees,order_total_promo,seller_name,seller_category_name,order_item_delivery_address_region,order_item_delivery_address_subregion,order_item_delivery_address_city,is_customer_month_ubereats,is_customer_month_justeat,is_customer_month_deliveroo,average_age,order_date_time,Continent,type_cuisine
3,M,just eat,0.0,0.0,0.0,Autres,NaN,ile de france,val d oise,cergy,0,1,0,30-44,2019-01-11 21:00:00,NaN,NaN
9,M,just eat,0.6,0.0,0.0,Autres,NaN,nouvelle aquitaine,haute vienne,limoges,0,1,0,30-44,2017-03-12 18:00:00,NaN,NaN
19,F,just eat,21.3,0.0,0.0,sushi sake,asian - japanese - sushi,ile de france,paris,paris,0,1,0,30-44,2019-12-03 22:00:00,asian,japanese
24,F,just eat,0.4,0.0,0.0,Autres,NaN,ile de france,val d oise,argenteuil,0,1,0,14-29,2019-05-04 20:00:00,NaN,NaN
33,F,just eat,21.3,0.0,0.0,funky burger,north american - burger,nouvelle aquitaine,gironde,bordeaux,0,1,0,30-44,2020-01-29 14:00:00,north american,burger
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807619,M,just eat,21.3,0.0,0.0,kebab d'or,middle eastern - kebab,auvergne rhone alpes,loire,st etienne,0,1,0,14-29,2019-10-17 22:00:00,middle eastern,kebab
807628,M,just eat,0.0,0.0,0.0,Autres,NaN,ile de france,seine et marne,coulommiers,0,1,0,14-29,2018-04-25 14:00:00,NaN,NaN
807654,M,just eat,0.6,0.0,0.0,Autres,NaN,ile de france,hauts de seine,asnieres sur seine,0,1,0,45-64,2017-01-26 20:00:00,NaN,NaN
807663,M,just eat,21.3,0.0,0.0,pizza lyonnaise,european - italian - pizza,auvergne rhone alpes,rhone,lyon,0,1,0,30-44,2019-12-16 23:00:00,european,italian
807671,F,just eat,0.6,0.0,0.0,Autres,NaN,provence alpes cote d azur,bouches du rhone,marseille,0,1,0,14-29,2019-04-10 20:00:00,NaN,NaN

In [43]:
df_transactions

,synthetic_gender,merchant_name,order_total_paid,order_total_fees,order_total_promo,seller_name,order_item_delivery_address_region,order_item_delivery_address_subregion,order_item_delivery_address_city,is_customer_month_ubereats,is_customer_month_justeat,is_customer_month_deliveroo,average_age,order_date_time,Continent,type_cuisine
0,F,deliveroo,10.3,0.0,0.0,thai in box,ile de france,hauts de seine,sevres,0,0,1,30-44,2020-01-15 12:00:00,asian,thai
1,M,uber eats,7.6,2.5,5.0,nanbab - villeurbanne,auvergne rhone alpes,rhone,villeurbanne,1,0,1,14-29,2019-01-24 19:00:00,asian,indian
2,M,uber eats,10.6,3.7,0.0,los tacos,grand est,meurthe et moselle,maxeville,1,0,0,14-29,2020-02-05 12:00:00,latin american,mexican
4,M,deliveroo,25.3,2.5,4.0,o'tacos,ile de france,seine saint denis,aubervilliers,0,0,1,14-29,2019-12-15 20:00:00,latin american,mexican
5,M,uber eats,24.0,2.5,0.0,pizzou,ile de france,paris,paris,1,0,0,14-29,2018-09-06 22:00:00,european,italian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807670,M,deliveroo,24.5,2.7,0.0,waffle factory,provence alpes cote d azur,bouches du rhone,marseille,0,0,1,14-29,2020-01-20 12:00:00,others,others
807672,F,uber eats,16.3,1.9,0.0,planet sushi,centre val de loire,loiret,orleans,1,0,0,14-29,2020-06-01 18:00:00,asian,japanese
807673,M,uber eats,15.9,3.9,0.0,o'tacos,occitanie,haute garonne,toulouse,1,0,0,30-44,2018-12-02 19:00:00,latin american,mexican
807674,F,uber eats,30.0,3.5,0.0,mcdonald's,hauts de france,nord,valenciennes,1,0,0,14-29,2020-03-14 17:00:00,north american,burger
807675,F,uber eats,77.1,3.5,0.0,yamazaki,ile de france,val d oise,pontoise,1,0,0,30-44,2020-05-28 20:00:00,asian,japanese

In [44]:
df_customers

,year_month,merchant_name,order_item_delivery_address_region,order_item_delivery_address_subregion,count_customers
0,2017-01,deliveroo,idf,paris,544
1,2017-01,deliveroo,idf,rest of idf,121
2,2017-01,deliveroo,other region,Other,636
3,2017-01,just eat,idf,paris,167
4,2017-01,just eat,idf,rest of idf,358
...,...,...,...,...,...
373,2020-06,just eat,idf,rest of idf,684
374,2020-06,just eat,other region,Other,769
375,2020-06,uber eats,idf,paris,2019
376,2020-06,uber eats,idf,rest of idf,3278
377,2020-06,uber eats,other region,Other,7867

In [45]:
df_products

                f0_                      id_order merchant_name
0        2017-01-01  AVkmcB3KFSf772cTh6V2M9yGwuQ=     deliveroo
1        2017-01-01  CQeMFF72l4u80Ae4mnVLhnTzqx0=     deliveroo
2        2017-01-01  CQeMFF72l4u80Ae4mnVLhnTzqx0=     deliveroo
3        2017-01-01  CQeMFF72l4u80Ae4mnVLhnTzqx0=     deliveroo
4        2017-01-01  CQeMFF72l4u80Ae4mnVLhnTzqx0=     deliveroo
...             ...                           ...           ...
1711611  2020-06-30  /7xBQ0v3sf7rNfCQfhezNVgKLgM=     uber eats
1711612  2020-06-30  /8gXFRj4oFFrwX6tiZMmKmPePqs=     uber eats
1711613  2020-06-30  /8gXFRj4oFFrwX6tiZMmKmPePqs=     uber eats
1711614  2020-06-30  //FH2PpgKmXmDNP1vRO4E3a3y0Y=     deliveroo
1711615  2020-06-30  //FH2PpgKmXmDNP1vRO4E3a3y0Y=     deliveroo

[1711616 rows x 3 columns]